app:
  environment : dev

logging:
  level:
    root: INFO

db:
  host: ${DB_HOST}
  port: ${DB_PORT}
  database: ${DB_NAME}
  username: ${DB_USER}
  password: ${DB_PASSWORD}
  pool:
    maxSize: 10
    minIdle: 2